.navbar {
    display: flex;
    justify-content: flex-start;
    background-color: lightpink;
}

.searchFormContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.homeBox {
    display: flex;
    flex-direction: column;
    justify-items: center;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: lightpink;
}

.searchPageRoot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    background-color: white;

}

.infoContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 20px;
}

.dialogContainer {
    margin: 10px;
}

.productInfoTextContainer {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
