.searchFormContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.searchPageRoot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    background-color: white;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 20px;
}

.dialogContainer {
    margin: 10px;
}

.productInfoTextContainer {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.searchpage {
    position: relative;
    top: 80px;
}

.loading {
    justify-content: center;
    text-align: center;
}